dist

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Deploy and commits related
.env

# mac files
.DS_Store

# vscode
.vscode
*code-workspace
.VSCodeCounter
